In [47]:
#Ex 1 calculating mean median and mode

In [ ]:
#import the required libraries
import pandas as pd
import numpy as np

In [39]:
#load the data
data=pd.read_excel('Stats.xlsx')

In [40]:
data.columns

Index(['Emp#', 'YearsOfExp', 'Salary in Rs.'], dtype='object')

In [41]:
data.shape

(25, 3)

In [5]:
data.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [43]:
#Calculating the mean
mean=np.mean(data['Salary in Rs.'])
print("The mean is {}".format(mean))

The mean is 77821.2

In [44]:
#Calculating the median
median=np.median(data['Salary in Rs.'])
print("The mean is {}".format(median))

The mean is 87654.0

In [58]:
#Calculating the mode
mode=data['Salary in Rs.'].mode()

print("The mode is {}".format(mode[0]))

The mode is 100639

In [ ]:
#Ex 2 calculating standard deviation and Variation

In [63]:
#Calculating Variation

squared_sum=0
for i in data['Salary in Rs.']:
    squared_sum+=(mean - i)**2
    
variance=squared_sum/data.shape[0]
print("The Variance is {}".format(variance))

The Variance is 1524319145.8400004

In [70]:
#Calculating Standard deviation
standard_deviation=variance**(1/2.0)
print("The standard deviation is {}".format(standard_deviation))

The standard deviation is 39042.5299620811